.single-funds {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px !important;
}
.single-funds .card-title {
    font-size: 17px;
    font-weight: 500;
    color: #000;
}
.single-funds .card-body {
    padding: 15px !important;
}
.add-funds{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px !important;
    margin-bottom: 30px;
    transition: 0.5s;
    border-radius: 5px;
    background: #1a1668;
    color: #fff;
}
.add-funds:hover{
    background: #201a89;
}
.add-funds svg{
    font-size: 80px;
}
.add-funds p{
    margin-top: 10px;
    font-weight: 500;
}
.my-fund-wraper .product-card{
    transition: .3s;
}
.my-fund-wraper .product-card:hover{
    transform: translateY(-5px);
}