.publish-hero {
    color: #fff;
}
.publish-hero h2{
    color: #fff;
}
.published-color {
    background-color: #060340;
    border-radius:10px;
    padding:10px 50px;
    padding-bottom:0;
    background-image: url('./../../assets/images/waveelement.png');
    background-size: cover;
    margin:auto;
    min-height: 510px;
}
.right-img{
    background-image: url('./../../assets/images/waveelement.png');
    position:relative;
    min-height: 550px;
}
.right-img img{
    max-height:550px;
    z-index:2;
    position:relative;
}
.right-img:after{
    content: "";
    position: absolute;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    bottom: 30px;
    left: 50%;
    background-color: #120d5c;
    z-index: 1;
    opacity: .8;
    transform: translateX(-50%);
}

.rounded-md {
    border-radius: 6px !important;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.middle-info-cards-container {
    display: grid;
    gap: 2em;
    background-color: #eaa55121;
    padding: 2em 3.5em 3.5em 3.5em;
    border-radius: 0.8em;
    border-bottom: 6px solid #EAA451;
    max-width: 1150px;
    margin: auto;
    color: #000;
}


.banner-text {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.info-cards-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 10%;
    row-gap: 3em;
}


.info-card {
    display: grid;
    grid-template-columns: 60px auto;
    gap: 2em;
    place-items: center;
}


.info-card .title {
    font-size: 1.1em;
    font-weight: bold;
    color: #EAA451;
}



.publish-faq .ant-collapse-header{
    background: #EAA451;
    color: #fff !important;
}
.publish-faq .ant-collapse-content-box{
    padding: 20px !important;
}
.publish-faq .ant-collapse-item{
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #eee !important;
}


@media only screen and (max-width: 992px){
    .right-img{
        display: none;
    }
    .published-color{
        min-height: auto;
        padding: 20px;
    }
    .info-cards-container{
        grid-template-columns:auto;
    }
}