.loader-wraper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.704);
    z-index: 9999;
}

.percent-wrap{
    width: 300px;
    margin: auto;
}
.percent-wrap .ant-progress-text{
    color: #1A1668 !important;
}
.percent-wrap .ant-progress-inner{
    background: #1A1668 !important;
    border: 3px solid #1A1668;
}
