.author{
    line-height: 1;
    display: flex;
    margin-bottom: 20px;
    margin-top:10px;
}
.author *{
    line-height: 1;
}
.author p{
    margin-right: 10px;
}
.price{
    font-size: 40px;
    font-weight: 600;
    color: #1677FF;
    margin: 10px 0;
}
.donate-btn{
    font-size: 1.5em !important;
    text-transform: uppercase !important;
    width: 100% !important;
    border-color: #1A1668 !important;
    background-color: #1A1668 !important;
}

.ant-progress-text{
    font-weight: 600 !important;
    color: #1677FF !important;
}


.user-pack{
    padding: 20px;
    border: 1px solid #62646a38;
    min-height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.user-pack .header{
    font-size: 16px;
    font-weight: 500;
    color: #1677FF;
    margin-bottom: 15px;
    min-height: 50px;
}
.user-pack .header p{
    margin: 0;
    color: #000;
}
.user-pack .header p:nth-child(2){
    text-align: right;
}
.pack-cover-img{
    max-height: 200px !important;
    object-fit: contain;
    background: #eef4ff;
    width: 100%;
}

.ant-tabs-tab-btn{
    font-size: 20px;
    font-weight: 600;
}

.ant-tabs-ink-bar{
    height: 4px !important;
}

.ant-tabs-nav-wrap{
    margin-bottom: 50px;
}

.ant-tabs-nav-list{
    width: 100%;
    justify-content: space-evenly;
}


.project-el-libro{
    text-align: justify;
    max-width: 800px;
    margin: auto;
}
.project-el-libro .strong{
    color: #1A1668;
}















.comment-wraper .author {
    display: flex;
    margin-top: 30px;
}
.comment-wraper .author img,.replay-box img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 2px;
    margin-right: 10px;
    object-fit: cover;
}
.comment-wraper .comment-box {
    width: 100%;
}
.comment-wraper .author .comment-box textarea {
    padding: 10px 50px 5px 15px;
    box-shadow: none !important;
    outline: none !important;
    display: block;
    width: 100%;
    border: 1px solid #EAA451;
}
.comment-wraper .author .comment-box .submit-btn {
    background-color: #EAA451;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-left: auto;
    padding: 10px 20px;
    margin-top: 5px;
    margin-top: 10px;
    float: right;
}


.comment-wraper .replay-box{
    display: flex;
    padding: 0 10px;
    margin-top: 30px;
    font-size: 14px;
}
.comment-wraper .replay-box-right{
    width: 100%;
}
.comment-wraper .replay-box .top, .replay-box .bottom{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.comment-wraper .replay-box .bottom{
    align-items: flex-end;
}
.comment-wraper .replay-box .top .fa-ellipsis-h{
    cursor: pointer;
    font-size: 18px;
}
.comment-wraper .replay-box .top .name{
    font-weight: 600;
    margin: 0;
}

.comment-wraper .replay-box .bottom .comment{
    padding-right: 20px;
    text-align: justify;
    margin-bottom: 5px;
}
.comment-wraper .replay-box .bottom .fas{
    color: #794eda !important;
}
.comment-wraper .replay-box .bottom .fa-heart{
    cursor: pointer;
    color: #000;
    font-size: 18px;
}

.comment-wraper .date{
    font-size: 13px;
    color: rgba(18, 18, 18, 0.64);
    margin-right: 10px;
}
.comment-wraper .replay-box .rest{
    color: #EAA451;
    cursor: pointer;
}
.comment-wraper{
    max-width: 800px;
    margin: auto;
}


.single-project-packagePopup .single-popup-package{
    padding: 20px !important;
    border: 2px solid rgb(206, 206, 206);
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
}
.single-project-packagePopup .single-popup-package h4{
    margin-bottom: 0;
    float: right;
}
.single-project-packagePopup .single-popup-package h5{
    color:#1C7BFF;
}
.single-project-packagePopup .single-popup-package:hover{
    border: 2px solid rgb(53, 191, 255);
    background: #EEF4FF;
}
.single-project-packagePopup .active{
    border: 2px solid rgb(53, 191, 255);
    background: #EEF4FF;
}

.pop-coverwraper{
    display: grid;
    grid-template-columns: 100px auto;
    gap: 10px;
}
.pop-coverwraper .description{
    font-size: 14px;
    color: #000;
}
.pop-coverwraper .description p{
    margin-bottom: 5px;
}
.pop-coverwraper .description br{
    height: 5px;
    display: inline-block;
}

.user-pack .default-price-select ul{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 20px;
}
.user-pack .default-price-select ul li:hover{
    border: 1px solid #1C7BFF;
    background: #eef4ffba;
}
.user-pack .default-price-select ul li{
    height: 50px;
    width: 80px;
    font-size: 17px;
    color: #000;
    border: 1px solid #cbcbcb;
    background: #eef4ff81;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.user-pack .default-price-select ul .active{
    border: 1px solid #1C7BFF;
    background: #eef4ffba;
}

.ant-tabs-nav-list{
    flex-wrap: wrap;
    gap: 20px;
}


@media only screen and (max-width:700px){
    .ant-tabs-tab-btn{
        font-size: 16px;
    }
    .ant-tabs-ink-bar{
        height: 0 !important;
    }
    .ant-tabs-tab{
        padding: 0 !important;
        height: 15px;
        margin: 0 !important;
    }
}